root = true

# Everything.
[*]
charset = utf-8
end_of_line = lf
indent_style = space
tab_width = 2
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Languages that use tabs instead of spaces.
[*{.hx,Makefile}]
indent_style = tab
